Source: rdio
Section: sound
Priority: optional
Maintainer: Scott Ringwelski <sgringwe@mtu.edu>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 7.0.50~),
               valac-0.18 (>= 0.17.7),
               libdbus-glib-1-dev,
               libdbusmenu-glib-dev (>= 0.4),
               libdbusmenu-gtk3-dev,
               libgtk-3-dev (>= 3.0),
               libglib2.0-dev,
               libnotify-dev (>= 0.5.0),
               libindicate-dev (>= 0.6),
               libunity-dev (>= 5.10),
               libsoup2.4-dev (>= 2.25.2),
               libjson-glib-dev (>= 0.10),
               libwebkitgtk-3.0-dev (>= 1.8.3)
Standards-Version: 3.9.2
Homepage: https://github.com/sgringwe/rdio

Package: rdio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: A simple native implementation for Rdio music services
