[Desktop Entry]
Type=Application
Version=1.0
Name=Rdio
GenericName=Music Player
Comment=Listen to music using Rdio web service.
Exec=rdio
Icon=rdio
Terminal=false
Categories=Audio;Music;Player;AudioVideo;GNOME;GTK;
MimeType=x-content/audio-player;x-content/audio-cdda;application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;audio/x-flac;audio/x-ms-wma;
StartupNotify=true
X-GNOME-Gettext-Domain=rdio
X-GNOME-Keywords=Music;Audio;Player;MP3;Play;Playlist;Media;
X-AppInstall-Keywords=Music;Audio;Player;MP3;Play;Playlist;Media;
